#access-denied-view {
    border: 5px solid crimson;
    background-color: whitesmoke;
    margin: 5em;
    color: crimson;
    padding: 1em;
    width: fit-content;
}

#access-denied-view h3 {
    color: crimson;
}